@import '../../styles/common.scss';

div.answer--wrapper {
  text-align: left;
  font-family: $font-family;
  width: 100%;
  letter-spacing: 0;
  font-size: 16px;
  padding: 10px 0;
  background: transparent;
  color: $answer-color;
  transition: 0.3s all ease-in-out;
  &:hover {
    box-shadow: 0 1px 0 0 $selected-answer-bg-color;
  }
  &.selected {
    color: $selected-answer-color;
    background: $selected-answer-bg-color;
    &:hover {
      box-shadow: 0 1px 0 0 $logo-color;
    }
  }
  button {
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0px;
    width: 100%;
    font-weight: $font-weight-bolder;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    background: transparent;
    color: inherit;
  }
}